<a href="https://colab.research.google.com/github/VitikaJain25/Python/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello VitVin")

Hello VitVin

## **Tuples, Strings, Loops, Variables**

*   Cannot start a variable with a number, but a variable may include numbers.
*   Tuples in python are immutable. We cannot change it (add or remove from it).
*   We can use a tuple in program where we do not want to change it.
*   List can be changed/edited and hence are mutable.

In [2]:
programming_languages = "python", "Java", "C++", "C#"
# We can also write a tuple as below: (enclosed in round bracets)
# programming_languages = ("python", "Java", "C++", "C#")

In [4]:
print(type(programming_languages))

<class 'tuple'>

In [5]:
for language in programming_languages:
  print(language)

python
Java
C++
C#

## **Lists and Tic Tac Toe Game**

In [11]:
game = [[0, 0, 0], 
        [0, 0, 0],
        [0, 0, 0]]
print (game)
print(type(game))

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
<class 'list'>

In [13]:
for row in game:
  print(row)

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

## **Built In Functions**

In [38]:
# Option 1 - Not good programming.
print("   a  b  c")
count = 0
for row in game:
  print(count, row)
  count = count+1

   a  b  c
0 [0, 0, 0]
1 [0, 0, 0]
2 [0, 0, 0]

In [39]:
# Doing the same using "enumerate" built in function.
print("   a  b  c")
for count, row in enumerate(game):
  print(count, row)

   a  b  c
0 [0, 0, 0]
1 [0, 0, 0]
2 [0, 0, 0]

In [36]:
#Extras
list1 = [1,2,3,4,5]
for index, value in enumerate(list1):
  print(index, value)
  print(type((index, value)))

0 1
<class 'tuple'>
1 2
<class 'tuple'>
2 3
<class 'tuple'>
3 4
<class 'tuple'>
4 5
<class 'tuple'>

In [35]:
#Extras
for item in enumerate(list1):
  print(item)
  print(type(item))

(0, 1)
<class 'tuple'>
(1, 2)
<class 'tuple'>
(2, 3)
<class 'tuple'>
(3, 4)
<class 'tuple'>
(4, 5)
<class 'tuple'>

## **Indexes And Slices**

In [41]:
#to refrence a item in list.
l = [1,2,3,4,5]
print(l[1]) # referencing the 2nd item
#to reference last item:
print(l[4])
#OR
print(l[-1])

2
5
5

In [45]:
#to refrence a slice in list.
l = [1,2,3,4,5]
print(l[1:2]) #Print 1st to 3rd index. (3rd index not included)
print(l[2:]) #Print everything after 2nd index.

[2]
[3, 4, 5]

In [47]:
l = [1,2,3,4,5,6,7]
print(l[1:-2])

[2, 3, 4, 5]

In [49]:
#Set specific Index.
l = [1,2,3,4,5]
print(l)
l[1]=99
print(l)

[1, 2, 3, 4, 5]
[1, 99, 3, 4, 5]

In [50]:
#Coming back to the game
print("   a  b  c")
for count, row in enumerate(game):
  print(count, row)

   a  b  c
0 [0, 0, 0]
1 [0, 0, 0]
2 [0, 0, 0]

In [54]:
game = [[0, 0, 0], 
        [0, 0, 0],
        [0, 0, 0]]

game[0][1] = 1

print("   a  b  c")
for count, row in enumerate(game):
  print(count, row)

   a  b  c
0 [0, 1, 0]
1 [0, 0, 0]
2 [0, 0, 0]

## **Functions**

*   Now everytime we want to print the game map.
*   We will have to run the bunch of code evertime.
*   So, we use functions, instead of repeating code everytime.
*   To avoid repetition of code and reduce code size.

In [59]:
game = [[0, 0, 0], 
        [0, 0, 0],
        [0, 0, 0]]


#This function just prints, does not modify anything.
def game_board():
  print("   a  b  c")
  for count, row in enumerate(game):
    print(count, row)

game_board()

#Making a move in the game
game[0][1] = 1

#Again printing game map.
game_board()

   a  b  c
0 [0, 0, 0]
1 [0, 0, 0]
2 [0, 0, 0]
   a  b  c
0 [0, 1, 0]
1 [0, 0, 0]
2 [0, 0, 0]

## **Function with parameters **
To get input from the user to modify the game board.

In [68]:
#simple function with parameters

def addition(x,y):
  return x+y

#Adding 2 numbers.
z = addition(3,4)
print(z)

#adding 2 strings.
z = addition("hey"," there")
print(z)

7
hey there

In [65]:
#Error as we are trying to add a number and a string.
z = addition(3,"hello")
print(z)

TypeError: ignored

In [77]:
game = [[0, 0, 0], 
        [0, 0, 0],
        [0, 0, 0]]


#This function now prints and modifies values.
def game_board(player, row, column):
  game[row][column] = player
  print("   a  b  c")
  for count, row in enumerate(game):
    print(count, row)

game_board(1,0,1)
game_board(1,2,1)

   a  b  c
0 [0, 1, 0]
1 [0, 0, 0]
2 [0, 0, 0]
   a  b  c
0 [0, 1, 0]
1 [0, 0, 0]
2 [0, 1, 0]